.qty-btn-dec,
.qty-btn-inc {
    width: 25px;
    height: 25px;
    font-size: 12px;
    line-height: 12px;
    border-radius: 50%;
}

.item-qty>span {
    background-color: #dfdfdf;
    width: 50px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    margin: 3px;
    height: 25px;
    color: #000;
}

.remove-item {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #f04858;
}

.remove-item>.fa-trash::before {
    color: var(--danger);
}

.remove-item:hover {
    background-color: var(--danger);
}

.remove-item:hover>.fa-trash::before {
    color: var(--white);
}