<div class="d-flex">
    <img src="../../../assets/{{product.image}}" class="product-image" />
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-primary">{{product.name}}</h5>
            <p class="card-text">{{product.description}}</p>
            <p>Price: <span class="bg-light p-1 text-info">{{product.price |currency}}</span></p>
            <a class="btn btn-success mr-1 text-white"><i class="fa fa-shopping-cart"></i> Add to cart</a>
        </div>
    </div>
</div>