<form class="" [formGroup]="loginForm" (ngSubmit)="OnSubmit()">
    <div class="form-group row">
        <label for="" class="col-2">Email</label>
        <div class="col-10">
            <input type="text" class="form-control" formControlName="email">
        </div>
    </div>
    <div class="form-group row">
        <label for="" class="col-2">Password</label>
        <div class="col-10">
            <input type="password" class="form-control" formControlName="password">
        </div>
    </div>
    <div class="form-group row">
        <button class="btn btn-outline-primary m-1" type="submit" [disabled]="!loginForm.valid">Submit</button>
        <button class="btn btn-outline-warning m-1" type="reset" >Clear</button>
    </div>
    Values : {{loginForm.value | json}}
</form>